<div class="container">
  <div class="row row-centered">
    <h2>Top Movies</h2>
    <!-- Info Card with social icons -->
    <div class="info-card" *ngFor="let movie of movies">
      <div class="front">
        <img src="http://image.tmdb.org/t/p/w300/{{movie.poster_path}}" class="card-image"/>
      </div>
      <div class="back">
        <h2>{{movie.original_title}}</h2>
        <p>
          {{movie.overview}}
        </p>
        <div class="social">
          <a [routerLink]="['/movies', movie.id]" class="social-icon view animate"><span class="fa fa-eye" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>