.search-box {
  width: 100%;
  position: relative;
  margin: auto;
}

.search-box .emty {
  font-size: 32px;
  position: absolute;
  right: 20px;
  top: 7px;
  z-index: 3;
  display: none;
  cursor: pointer;
}

.search {
  height: 50px;
  width: 100%;
  padding: 5px 15px;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #ddd;
  background: none;
  color: #666666;
  font-size: 18px;
}
.search:focus {
  outline: none;
  box-shadow: 0 0 0 3px #ddd;
}