<section class="content">
  <main class="card">
    <div class="billboard-layer"></div>
    <div class="hero">
      <img src="http://image.tmdb.org/t/p/w780/{{movieInfo.backdrop_path}}">
    </div>
    <div class="breaking-bad">
      <h1 class="title">{{movieInfo.title}}</h1>
      <ul class="meta">
        <li class="year">{{movieInfo.release_date | date: 'yyyy'}}</li>
        <li class="rating">{{movieInfo.vote_average}} 
          <span class="fa fa-star" aria-hidden="true"></span> 
        </li>
        <li class="duration">{{movieInfo.runtime}} min</li>
        <li class="language"  *ngFor="let language of movieInfo.spoken_languages">
          {{language.name}}
        </li>
      </ul>
      <p class="description">{{movieInfo.overview}}
      </p>
      <hr class="break" />
       <div class="bottom-info" *ngFor="let video of videos; let i = index">
        <div *ngIf="i == 0">
          <a class="btn btn-min-w btn-web btn-s" href="/" role="button"> Back </a>
          <a class="btn btn-min-w btn-grey" href="https://www.youtube.com/watch?v={{video.key}}" role="button" target="_blank"> Play Trailer</a>
        </div>
      </div>
    </div>
  </main>
</section>