@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

span, .subscribe:hover>div {
    display: none;
}

.subscribe:hover>span {
  display: block;
   /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.5);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  width: 223px; 
  height: 334px; 
  color: #FFF;
  padding: 10px 10px 10px 10px;
}

.pagination-btn{
  margin-top: 20px;
}

.pagination-left{
  float: left;
}

.pagination-right{
  float: right;
}

.pagination-btn a{
  color: #EB5D1E;
  font-size: 25px;
}

.pagination-btn a:hover{
  color: #28C3AB;
  cursor: pointer;
}
